.tableBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.table {
  border-collapse: collapse;
  max-width: 30rem;
}

.td,
.th {
  font-weight: bold;
  font-size: 1.2rem;
  overflow-wrap: break-word;
  border: 0.05rem solid var(--c-green-400);
  padding: 0.1rem;
  text-align: center;
}

.th {
  color: var(--c-orange-300);
}

@media (max-width: 980px) {
  .table {
    max-width: 10rem;
  }
  .td,
  .th {
    font-size: 1rem;
  }
}
