.pathContainer {
  display: flex;
  gap: 0.2rem;
}

.pathElement > a {
  font-size: 1rem;
  gap: 0.2rem;
}

.pathElement:last-child > a {
  color: var(--c-orange-300);
}

@media (max-width: 600px) {
  .pathElement > a {
    font-size: 0.7rem;
  }
}
