.pdfContainer {
 min-width: 40rem;
}

@media (max-width: 800px) {
  .pdfContainer {
    min-width: 30rem;
   }
}

@media (max-width: 650px) {
  .pdfContainer {
    min-width: 20rem;
   }
}


@media (max-width: 480px) {
  .pdfContainer {
    min-width: 18rem;
   }
}