.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderBlock {
    position: relative;
    min-width: 40rem;
    max-width: 80rem;
  }
  
    .sliderBtns {
      position: absolute;
      top: 0;
      left: 35%;
      min-width: 20rem;
      z-index: 999;
    }

    @media (max-width: 800px) {
        .sliderBlock {
         min-width: 35rem;
        }
      }
  
      @media (max-width: 650px) {
        .sliderBlock {
         min-width: 30rem;
        }

        .sliderBtns {
            min-width: 15rem;
          }
    }
    @media (max-width: 600px) {
      .sliderBlock {
        width: 100%;
      }
  
      .sliderBtns {
        width: 10rem;
      }
    }
    
    
    @media (max-width: 480px) {
      .sliderBlock {
       max-width: 18rem;
      }
      
      .sliderBtns {
        min-width: 5rem;
      }
    }