.errorBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.errorContainer {
  text-align: center;
  font-family: 'oswald';
  font-weight: 500;
  margin: 2rem;
}

.spanError {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: var(--c-blue-600);
}

.digitFirst,
.digitSecond,
.digitThird {
  display: inline-block;
  position: relative;
  font-size: 18rem;
}

.digitThird {
  perspective: 100rem;
  perspective-origin: 500% 50%;
  color: var(--c-mint-100);
}

.digitThird {
  transform-origin: 50% 100% 0;
  transform: rotateX(0);
  animation: easyoutelastic 8s infinite;
}

.digitFirst {
  perspective: none;
  perspective-origin: 50% 50%;
  color: var(--c-green-400);
}
.digitFirst {
  transform-origin: 100% 100% 0;
  transform: rotate(0deg);
  animation: rotatedrop 8s infinite;
}

@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@media (max-width: 800px) {
  .digitFirst,
  .digitSecond,
  .digitThird {
    font-size: 12rem;
  }
}

@media (max-width: 580px) {
  .digitFirst,
  .digitSecond,
  .digitThird {
    font-size: 7rem;
  }
}
