.footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--c-green-600);
  color: var(--c-white);
}

.iconTelegram {
  mask-image: url('../../assets/svg-icons/telegram.svg');
}
