.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1001;
}

.popupBody {
  min-height: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  position: relative;
  border-radius: 1rem;
}

.popupContentImg {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 35rem;
}

.closePopupBtn {
  min-width: 2.5rem;
  height: 2.5rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-image: url('../../../assets/svg-icons/cross-circle-svgrepo-com.svg');
  background-color: var(--c-green-400);
}

.closePopupBtn:hover {
  background-color: var(--c-orange-300);
}

.sliderBtns {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 92%;
  z-index: 1001;
}

.popupImageBlock {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popupImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 600px) {
  .popupContentImg {
    max-width: 30rem;
  }

  .popupImageBlock {
    height: 40rem;
  }

  .sliderBtns {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .popupContentImg {
    max-width: 25rem;
  }

  .popupImageBlock {
    height: 30rem;
  }

  .sliderBtns {
    position: absolute;
    top: 50%;
    left: 9%;
    width: 82%;
  }
}
