.title,
.smallTitle {
  text-align: center;
  color: var(--c-orange-300);
  font-weight: 500;
  font-size: 3rem;
}

.smallTitle {
  font-size: 2rem;
}

@media (max-width: 580px) {
  .title {
    font-size: 1.5rem;
  }
  .smallTitle {
    font-size: 1.2rem;
  }
}
