.link {
  color: var(--c-green-200);
  padding-bottom: 0.3rem;
  position: relative;
  font-size: 3rem;
}

.link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.1rem;
  background-color: var(--c-orange-300);
  transition: all 0.4s ease-in;
  transform: translateX(-50%);
}

.link:hover::before {
  width: 100%;
  color: var(--c-orange-300);
}

.link:hover {
  color: var(--c-orange-300);
}

.textLink {
  font-family: 'salina trial';
  color: var(--c-white);
  padding-bottom: 0.3rem;
  position: relative;
  font-size: 0.7rem;
  transition: all 0.4s ease-in;
}

.textLink.activeLink {
  transition: all 0.4s ease-in;
  color: var(--c-orange-300);
}

.linkBlock:hover {
  cursor: pointer;
  filter: drop-shadow(0.3rem 0.3rem 1rem var(--c-white));
  transform: scale(1.1);
}

.iconHeader {
  min-width: 2rem;
  height: 2rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--c-white);
}

.iconHeader.activeLink {
  transition: all 0.4s ease-in;
  background-color: var(--c-orange-300);
}

@media (max-width: 768px) {
  .textLink,
  .link {
    font-size: 2rem;
  }

  .iconHeader {
    display: none;
  }
}
