.headerMain {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--c-green-600);
  color: var(--c-white);
}

.navMain {
  display: flex;
  align-items: self-end;
  gap: 2rem;
  font-size: 1rem;
}

.iconVite {
  mask-image: url('../../assets/svg-icons/vite.svg');
}

.iconMorbi {
  mask-image: url('../../assets/svg-icons/morbi.svg');
}

.iconAnalysis {
  mask-image: url('../../assets/svg-icons/analysis..svg');
}

.iconDoctors {
  mask-image: url('../../assets/svg-icons/doctors..svg');
}

.iconDiagnostic {
  mask-image: url('../../assets/svg-icons/diagn.svg');
}

.iconTreatment {
  mask-image: url('../../assets/svg-icons/treatment.svg');
}

.iconMain {
  min-width: 3rem;
  height: 3rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--c-white);
  mask-image: url('../../assets/logo/of.png');
  cursor: pointer;
}

.textLink {
  display: block;
  color: var(--c-white);
  padding-bottom: 0.3rem;
  position: relative;
  font-size: 0.7rem;
  transition: all 0.4s ease-in;
}

.linkBlock:hover {
  cursor: pointer;
  filter: drop-shadow(0.3rem 0.3rem 1rem var(--c-white));
  transform: scale(1.1);
}

.burgerMenu {
  display: none;
  cursor: pointer;
}

.burgerIcon {
  width: 2rem;
  height: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001;
}

.burgerIcon .spanBurger {
  display: block;
  height: 0.1rem;
  background-color: var(--c-white);
  border-radius: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.burgerIcon.open .spanBurger:nth-child(1) {
  transform: translateY(7.5px) rotate(45deg);
}

.burgerIcon.open .spanBurger:nth-child(2) {
  opacity: 0;
}

.burgerIcon.open .spanBurger:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

.navMain .open {
  display: block;
}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
    border: none;
    background-color: inherit;
  }

  .navMain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--c-green-600);
    transform: translateX(0%);
    transition:
      transform 0.5s ease-out,
      right 0.5s ease-out;
    z-index: 1000;
  }

  .navMain.open {
    transform: translateX(0%);
    right: 0;
  }

  .textLink {
    font-size: 2rem;
  }

  .iconMain {
    display: block;
  }
}
