.sliderBtn {
  position: absolute;
  min-width: 2rem;
  height: 2rem;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: var(--c-green-400);
}

.prev {
  mask-image: url('../../../assets/svg-icons/icon-arrow-left.svg');
  left: -9%;
}

.next {
  mask-image: url('../../../assets/svg-icons/icon-arrow-right.svg');
  right: -9%;
}

.sliderBtn:hover {
  background-color: var(--c-orange-600);
}
